# Kernel module build files
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.order
*.symvers
*.cmd
*.d
Module.symvers
.Module.symvers.cmd
modules.order
.modules.order.cmd
.vscode/
# Kernel build directories, when previous when linux kernal source was cloned from github repo
.tmp_versions/
hdc3022.ko
linux/
build/
logs/
*.slo
*.lo
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.pdb
*.dwo
*.swp
*.swo
*.bak
*~